body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  align-items: center;
}

.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;

}

th{
  width: 100px;
  border-radius: 1px;
}

table { 
  border-collapse: collapse; 
}

tr{
  border-bottom: 1px solid black;
}